.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading_main {
  border-bottom: 5px solid rgb(6, 2, 32);
}
.Paragraph {
  font-size: 23px;
}
.about_me {
  height: 400px;
  width: 32%;
}
.skil {
  height: auto;
  width: 32%;
}
.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sk {
  height: 20px;
  width: 120px;
  border-radius: 5px;
  border: 2px solid rgb(49, 48, 52);
  background-color: rgb(48, 47, 47);
  color: #ffff;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
.separator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}
.chart {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .divider {
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .about_me,
  .skil {
    width: 80%; /* Reduce width for smaller screens */
  }

  .Paragraph {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  .sk {
    font-size: 20px; /* Reduce font size for smaller screens */
  }
}
@media (max-width: 768px) {
  .divider {
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .about_me,
  .skil {
    width: 80%; /* Reduce width for smaller screens */
  }

  .Paragraph {
    font-size: 15px; /* Reduce font size for smaller screens */
  }

  .sk {
    font-size: 15px; /* Reduce font size for smaller screens */
  }
  .about_me {
    height: auto;
  }
  .heading_main {
    font-size: 20px;
  }
  .sk {
    font-size: 13px;
    height: 15px;
    width: 70px;
    text-align: center;
  }
}
