.fakecontainer {
  height: 110px; /* Adjust the height as needed */
}

.c_formvalue {
  width: 300px; /* Adjust the width as needed */
  height: 400px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto; /* Center the form horizontally */
}

.c_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the form horizontally within its container */
}

.map {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .c_form {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .map {
    height: 200px;
  }
}
